@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #E5E5E5;
}
.title {
    color: #C59D5F;
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 40px;
    text-align: center;

}
.main {
    margin: 0 auto;
    margin-top: 115px;
    width: 620px;
    
    
}
.question {
    width: 620px;
    background: white;
    /* padding: 32px; */
    border-radius: 8px;
    padding-top: 22px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    margin-bottom: 32px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.question-title {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    /* margin-bottom: 22px; */
    color: #102A42;
    }

    .question-text {
        padding: 0;
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 17px;
        margin-top: 22px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #617D98;
        display: none;
    }
    .question-btn {
        outline: none;
        border: none;
        background-color: transparent;
    }
    
    .minus-icon {
        display: none;
    }
    .question-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .show-question-text {
        display: block;
    }
